{% extends "fbclone/base.html" %}
{% load static %}
{% block content %}
<!-- MAIN CONTENT -->
<div class="container mt-4">
    <h2 class="text-center mb-4">Games List</h2>

    <!-- Games Section -->
    <div class="row">
        <!-- Game 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/game9.jpg' %}" class="card-img-top" alt="Game 1">
                <div class="card-body">
                    <h5 class="card-title">Game 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae suscipit nunc.</p>
                    <a href="#" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
        <!-- Game 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/game2.jpg' %}" class="card-img-top" alt="Game 2">
                <div class="card-body">
                    <h5 class="card-title">Game 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti.</p>
                    <a href="#" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
        <!-- Game 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/game3.jpg' %}" class="card-img-top" alt="Game 3">
                <div class="card-body">
                    <h5 class="card-title">Game 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
                    <a href="#" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
        <!-- Game 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/game4.jpg' %}" class="card-img-top" alt="Game 4">
                <div class="card-body">
                    <h5 class="card-title">Game 4</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut risus quis velit tincidunt vulputate.</p>
                    <a href="#" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
        <!-- Game 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/game5.jpg' %}" class="card-img-top" alt="Game 5">
                <div class="card-body">
                    <h5 class="card-title">Game 5</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a libero sit amet dui pharetra facilisis.</p>
                    <a href="#" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
        <!-- Game 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/game6.jpg' %}" class="card-img-top" alt="Game 6">
                <div class="card-body">
                    <h5 class="card-title">Game 6</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel magna sit amet massa faucibus convallis.</p>
                    <a href="#" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
        <!-- Game 7 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/game7.jpg' %}" class="card-img-top" alt="Game 7">
                <div class="card-body">
                    <h5 class="card-title">Game 7</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum magna at lorem vehicula, ac luctus neque ullamcorper.</p>
                    <a href="#" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
        <!-- Game 8 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/game8.jpg' %}" class="card-img-top" alt="Game 8">
                <div class="card-body">
                    <h5 class="card-title">Game 8</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu eros auctor, scelerisque nunc vel, consequat lorem.</p>
                    <a href="#" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
        <!-- Game 9 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/game1.jpg' %}" class="card-img-top" alt="Game 9">
                <div class="card-body">
                    <h5 class="card-title">Game 9</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at nisi nec risus facilisis blandit at sed leo.</p>
                    <a href="#" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
        
            </div>
        </div>
    </div>
</div>
{% endblock %}
