{% extends "fbclone/base.html" %} 
{% load static %} 
{% block content %} 
{% if not user.is_authenticated %}


<!--Hero Section-->
<div class="hero bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="display-4">Welcome to the <span class="text-primary">Facebook</span> Clone</h1>
                <p class="lead">Created by Lorens Bustamante,a web applacation that allows you to create profile and post </p>
                <a class="btn btn-outline-primary mr-2" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'register' %}">Sign-up</a>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/robot.png' %}" alt="Illustration" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!--Footer Section-->
<footer class="bg-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Footer Text -->
                <p class="mb-2" style="font-size: 1.2rem;">&copy; 2024 Facebook Clone by Lorens Bustamante</p>

                <!-- Social Media Links as Vertical List -->
                <ul class="list-unstyled" style="font-size: 1.2rem;">
                    <li>
                        <a href="https://www.facebook.com/lolengwapo/" class="text-dark" target="_blank">
                            <i class="ri-facebook-circle-fill"></i> LawRence Bustamante
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/lorens.dev1" class="text-dark" target="_blank">
                            <i class="ri-instagram-fill"></i> lorens.dev1
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/lorens-dev" class="text-dark" target="_blank">
                            <i class="ri-github-fill"></i> lorens-dev
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Links Section -->
            <div class="col-md-6 text-md-right">
                <a href="#" class="text-primary mr-3">Privacy Policy</a>
                <a href="#" class="text-primary mr-3">Terms of Service</a>
                <a href="#" class="text-primary">Contact Us</a>
            </div>
        </div>
    </div>
</footer>
{% endif %}
<!--side card profile-->
<div class="container-fluid gedf-wrapper">
    <br> {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        {% if user.profile.image %}
                        <!-- Check if the user has a profile image -->
                        <img class="rounded-circle mr-2" style="width: 45px; height: 45px; object-fit: cover;" src="{{ user.profile.image.url }}" alt=""> {% else %}
                        <img class="rounded-circle mr-2" style="width: 45px; height: 45px; object-fit: cover;" src="{% static 'default_image.jpg' %}" alt=""> {% endif %}
                        <div>
                            <div class="h5">{{ user.username }}</div>
                            <div class="h7 text-muted">Fullname: {{ user.first_name }} {{ user.last_name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %} 
  <!-- Post Section -->
  <div class="col-md-6 gedf-main">
    <div class="card gedf-card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">What's on your mind?</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="content-section">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'post-create' %}">Create Post</a>
                </div>
            </div>
        </div>
    </div>

    {% for post in posts %}
        <div class="card gedf-card mt-3">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        {% if post.author.profile.image %}
                            <img class="rounded-circle mr-2" style="width: 45px; height: 45px; object-fit: cover;" src="{{ post.author.profile.image.url }}" alt="">
                        {% else %}
                            <img class="rounded-circle mr-2" style="width: 45px; height: 45px; object-fit: cover;" src="{% static 'default_image.jpg' %}" alt="">
                        {% endif %}
                        <div class="h5 m-0">{{ post.author }}</div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                            <div class="h6 dropdown-header">Configuration</div>
                            <a class="dropdown-item" href="#">Save</a>
                            <a class="dropdown-item" href="#">Hide</a>
                            <a class="dropdown-item" href="#">Report</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="text-muted h7 mb-2">
                    <i class="fa fa-clock-o"></i> {{ post.date_posted }}
                </div>
                <a class="card-link" href="{% url 'post-detail' post.id %}">
                    <h5 class="card-title">{{ post.title }}</h5>
                </a>
                <p class="card-text">{{ post.content }}</p>

                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid mt-3" style="max-height: 300px; object-fit: cover;">
                {% endif %}
                {% if post.video %}
                    <video width="320" height="240" controls>
                        <source src="{{ post.video.url }}" type="video/mp4">
                        <source src="{{ post.video.url }}" type="video/webm">
                        <source src="{{ post.video.url }}" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            </div>

            <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-thumbs-up"></i> Like</a>
                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
            </div>
        </div>
    {% endfor %}
</div>



        <br> 
        {% if user.is_authenticated %}
        <div class="col-md-3">
            <!-- Card for Advertisements -->
            <div class="card gedf-card mb-3">
                <!-- Added margin-bottom for spacing between cards -->
                <div class="card-body">
                    <h5 class="card-title">Ads</h5>
                    <p class="ad-text">ENROLL NOW AT SAINT PAUL UNIVERSITY!</p>
                    <img src="{% static 'images/spus.jpg' %}" alt="Ad Banner" class="img-fluid" width="70" height="70">
                </div>
            </div>

            <!-- Card for Contacts -->
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Contacts</h5>
                    <div class="list-group">
                        <!-- Contact Item -->
                        <div class="list-group-item d-flex align-items-center border-0">
                            <img src="{% static 'images/lebron.jpg' %}" alt="Lebron Tan" class="rounded-circle mr-3" width="45" height="45">
                            <span><strong>Lebron Tan</strong></span>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0">
                            <img src="{% static 'images/dwight.png' %}" alt="Dwight Tristan Pajaron" class="rounded-circle mr-3" width="45" height="45">
                            <span><strong>Dwight Tristan Pajaron</strong></span>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0">
                            <img src="{% static 'images/john.jpg' %}" alt="Vickylou Bustamante" class="rounded-circle mr-3" width="45" height="45">
                            <span><strong>John Jacob Cantil</strong></span>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0">
                            <img src="{% static 'images/rhon.png' %}" alt="Rhon Juztine Roqueño" class="rounded-circle mr-3" width="45" height="45">
                            <span><strong>Rhon Juztine Roqueño</strong></span>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0">
                            <img src="{% static 'images/hans.jpg' %}" alt="hans" class="rounded-circle mr-3" width="45" height="45">
                            <span><strong>Hans Fred Recafort</strong></span>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0">
                            <img src="{% static 'images/jb.jpg' %}" alt="jb" class="rounded-circle mr-3" width="45" height="45">
                            <span><strong>Jb Sucal</strong></span>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0">
                            <img src="{% static 'images/pb.jpg' %}" alt="pb" class="rounded-circle mr-3" width="45" height="45">
                            <span><strong>Phoebe Kirsten Oiga</strong></span>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0">
                            <img src="{% static 'images/csar.jpg' %}" alt="csar" class="rounded-circle mr-3" width="45" height="45">
                            <span><strong>Ceasar Escandor</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
         {% endblock %}